/* IMPOSTAZIONI GENERALI */


/* HEADER */
header{
    font-family: Raleway;
    text-align: center;
    height: 200px;
    text-transform: uppercase;
    background-color: dodgerblue;
    
}

header h1{
    font-size: 35px;
    display: block;
    color:white;
    padding-top: 30px;
}

header h1 span{
    background: white;
    color: dodgerblue;
    line-height: 2;
}

header h2{
    padding-top: 20px;
}

.primo-hr{
    margin: 0px;
    border-top: 6px solid black;
    border-bottom: 10px solid rgba(255, 255, 255, 0.3);
}

.secondo-hr{
    margin-top: 40px;
    border: 3px dashed grey;
}

.terzo-hr{
    border-top: 6px solid dodgerblue;
    margin-top: 45px;
    margin-bottom: -1px;
}

/* MAIN */
main{
    font-family: Raleway;
    margin-left: 30px;
    margin-right: 30px;
    line-height: 2;
    font-size: 18px;
}
/* ELEMENTI NEL MAIN */
section h2{
    color: dodgerblue;
    text-transform: uppercase;
    font-size: 30px;
    line-height: 2.5;
    text-align: center;
    font-weight: bold;
}

figure{
    text-align: center;
}

figure img{
    height: 180px;
    width: 300px;
    border: 3px solid black;
    padding: 7px;
}

b{
    font-weight: bold;
}

a{
    color: red;
}

blockquote p{
    font-style: italic;
    background-color: grey;
    border-radius: 10%;
    text-align: right;
    height: 120px;
    padding-top: 20px;
    padding-right: 20px;
    margin: 5px;
}

strong{
    color: dodgerblue;
}

mark{
    color: white;
    background-color: dodgerblue;
}

ul{
    margin-left: 50px;
}


/* FOOTER */
footer{
    font-family: Raleway;
    text-align: center;
    background-color:darkslategray;
    color: white;
    line-height: 2;
}

kbd{
    color: yellow;
}